<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>12985758971-5kh0bjgqhg4hhtg4arvjdhaoaghdpika.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.12985758971-5kh0bjgqhg4hhtg4arvjdhaoaghdpika</string>
	<key>API_KEY</key>
	<string>AIzaSyAYjieI2CC0-FYmXqAEr7rs_RYggNnl12M</string>
	<key>GCM_SENDER_ID</key>
	<string>12985758971</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.thanhtrieu.Battle-Ship</string>
	<key>PROJECT_ID</key>
	<string>battleshipgame-2b79d</string>
	<key>STORAGE_BUCKET</key>
	<string>battleshipgame-2b79d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:12985758971:ios:cae564f5e65b63a1f6ec5e</string>
	<key>DATABASE_URL</key>
	<string>https://battleshipgame-2b79d-default-rtdb.firebaseio.com</string>
</dict>
</plist>